
.timer{
    color: rgb(255, 255, 255);

    display:flex;
    justify-content: center;
    align-items: center;
   
    position:absolute;
    top:23%;
    left:39%
    
}

.digits{
    font-size : 2rem;
    padding:1rem;
  

}