.App {
  display:flex;
  flex-direction:column;
  text-align: center;
  gap:2rem;
  height: 100vh;
  width:100vw;
  background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color : rgb(255, 255, 255);


}

.App h2{
  font-size : 4rem;
  
}

.buttons{

  display:flex;
  justify-content:center;
  align-items:center;
  gap:3rem;
  margin-top: 4rem;
}
